# Server Configuration
PORT=4000
NODE_ENV=development

# Database Configuration
DATABASE_URL=mongodb://localhost:27017/job_scheduler

# Cache & Message Broker
REDIS_URL=redis://localhost:6379

# Authentication Secrets
JWT_SECRET=some-ultra-secure-long-jwt-secret-phrase
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
